body{
    margin: 0;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
}

button{
    margin: 1px;
    width: 100px;
    height: 80px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
}

#background{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aliceblue;
    margin: 0;
}

#calculator{
    background-color: rgb(82, 81, 81);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 410px;
    padding: 20px 10px;
    border-radius: 5px;
}

#display{
    background-color: rgb(205, 206, 206);
    margin: auto;
    border-width: thick;
    border-style: solid;
    width: 410px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    font-size: 80px;
}

#buttons{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.blue {
    background-color: #9acffa;
}

.blue:hover {
    background-color: #82c4f8;
}

.number {
    background-color: #a0e7e5;
}

.number:hover {
    background-color: #8ae2de;
}

.operand {
    background-color: #f7d57f;
}

.operand:hover {
    background-color: #f4c75e;
}

#zero{
    width: 202px; 
}